<%- include('layouts/header') %>
<%- include('navbar') %>



<div class="container">
      
        <%- include('createWarehouse') %>

</div>
<div class="container">
        <%- include('createSubUser') %>
</div>



<%- include('layouts/footer') %>