<%- include('layouts/header') %>
<%- include('navbar') %>

<div class="container">
      
       
        <%- include('createGoods') %>
        <%- include('createWarehouse') %>
        <%- include('createSubUser') %>
        <%- include('createCategory') %>

</div>




<%- include('layouts/footer') %>