<%- include('layouts/header') %>
<%- include('partials/navbar') %>
        
<div class="container">
        <%- include('partials/createWarehouse') %>
</div>
<div class="container">
        <%- include('partials/createSubUser') %>
</div>

<%- include('layouts/footer') %>